<div class="left-element facebook-follow">
  <h1> Seguimi su Facebook </h1>
  <p> Ciao, se vuoi rimanere in contatto con me e riceveve aggiornamenti, seguimi anche su Facebook </p>
  <a href="https://www.facebook.com/ludusrusso.cc/" role="button" class="btn" target="_blank"> Seguimi su Facebook</a>
</div>

<div class="left-element donation">
  <h1>Donazioni</h1>
  <p> 
    Se ti è veramente piaciuto il sito e vuoi aiutarmi a mantenerne le spese, puoi anche farmi una donazione volontaria tramite il mio link Paypal! 
  </p>
  <a href="https://paypal.me/ludusrusso" role="button" class="btn" target="_blank"> Esegui una donazione con Paypal </a>
</div>

{% if site.mailchimp %}
  <div class="left-element mailchimp">
    {% include mailchimp.html %}
  </div>
{% endif %}
